@tailwind base;
@tailwind components;
@tailwind utilities;

.tooltip {
  --tooltip-offset: calc(100% + 6px + var(--tooltip-tail, 0px));
  --tooltip-tail-offset: calc(100% + 6px - var(--tooltip-tail));
}

.text-gradient {
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

html,
body {
  scroll-behavior: smooth;
  scrollbar-color: hsl(var(--p)) hsl(var(--b3));
}

/* width */
::-webkit-scrollbar {
  width: 8px;
  border-radius: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: hsl(var(--b3));
  border-radius: 4px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: hsl(var(--p));
  border-radius: 4px;
}

@layer utilities {
  .interactive {
    transform: scale(1);
    transition: transform 0.15s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
    user-select: none;
  }

  .interactive:hover {
    transform: scale(1.06);
  }
  .interactive:active:focus,
  .interactive:hover:active {
    transform: scale(1);
  }
}
